spring:
    application:
        name: payment-service

    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                format_sql: true

---
spring:
    config:
        activate:
            on-profile: docker

    datasource:
        url: jdbc:postgresql://postgres:5432/paymentDB
        username: postgres
        password: 123
    jpa:
        hibernate:
            ddl-auto: update